#main {
  background-color: lightgray;
}

#header {
  background-color: darkslategrey;
  color: whitesmoke;
  padding: 50px;
  text-align: center;
  font-family: "Chilanka", cursive;
}

#search-city {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

button {
  background-color: #1e90ff;
}

input {
  height: 10px;
}

#five-day {
  margin: 5px;
  border-color: black;
}

#city-button {
  background-color: lightslategray;
  color: white;
  border-color: dark;
  border-radius: 30%;
  padding: 10px;
  display: block;
  margin: 10%;
}

.city {
  font-size: 28px;
  font-weight: bolder;
  display: inline !important;
}

.current-day {
  display: inline !important;
  margin: 8%;
}

#five-day {
  font-size: 24px;
  font-weight: bolder;
}

#card {
  background-color: blue;
  color: white;
  margin: 5%;
  float: left;
  display: inline-block;
}
