#main {
  background-color: whitesmoke;
}
#header {
  background-color: darkslategrey;
  color: whitesmoke;
  padding: 50px;
  text-align: center;
  font-family: "Chilanka", cursive;
}

#search-city {
  padding: 20px;
  margin: 20px;
}

button {
  background-color: #1e90ff;
}

#card {
  background-color: blue;
  color: white;
  margin: 10px;
}
