#main {
  background-color: whitesmoke;
}

#header {
  background-color: darkslategrey;
  color: whitesmoke;
  padding: 50px;
  text-align: center;
  font-family: "Chilanka", cursive;
}

#search-city {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

button {
  background-color: #1e90ff;
}

#card {
  background-color: blue;
  color: white;
  margin: 10px;
  float: left;
}

input {
  height: 10px;
}

#five-day {
  margin: 5px;
  border-color: black;
}
